@import "common";

@-moz-document url("https://www.cnbeta.com/") {
    body > *:not(.main-wrap):not(#goTop):not(.cnbeta-fullBanne) {
        display: none;
        height: 0;
    }
    .main-wrap > div:not(.cnbeta-update) {
        display: none;
    }
    .cnbeta-update {
        .cnbeta-update-list, .cnbeta-article {
            width: 100%;
        }

        .cnbeta-home-side {
            display: none;
        }
    }
}

@-moz-document url-prefix("https://www.cnbeta.com/articles/") {

    body > *:not(.main-wrap):not(#goTop) {
        display: none;
        height: 0;
    }
    .cnbeta-update {
        .cnbeta-article {
            width: 100%;
        }

        .cnbeta-home-side {
            display: none;
        }
    }
}
